@media only screen and (max-width: 600px) {
  body{
    font-size:16px;
  }
  .section-one{
    text-align: center;
  }
  .section-two{
    text-align: center;
  }
  .section-three{
    text-align: center;
  }
  .section-four{
    text-align: center;
  }
}