@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*#E509148*/
body {
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body .hero {
  min-height: 100vh;
  background-image: url("./img/netflix-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 8px solid #bababa;
}
body .hero .cover {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 100vh;
}
body .hero .cover .logo {
  width: 150px;
}
body .hero .cover .sign-in {
  background-color: #E50914;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: none;
}
body .hero .cover .lan {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #9b8282;
}
body .hero .cover .lan:hover {
  color: white;
}
body .hero .cover .hero-content {
  min-height: 90vh;
  text-align: center;
  color: white;
}
body .hero .cover .hero-content .heading {
  font-weight: 600;
}
body .hero .cover .hero-content .heading p {
  font-size: 20px;
}
body .hero .cover .hero-content .e-mail .mail {
  padding: 15px 20px;
  margin: 0px 0px;
  border: none;
  width: 50%;
}
body .hero .cover .hero-content .e-mail .mail:active {
  border: none;
}
body .hero .cover .hero-content .e-mail .button {
  padding: 15px 20px;
  margin: 0px 0px;
  background-color: #E50914;
  color: white;
  border: none;
  margin-left: -10px;
}
body .section-one {
  min-height: 60vh;
  color: white;
  border-bottom: 8px solid #bababa;
}
body .section-one .row {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
body .section-one .row h3 {
  font-weight: 600;
}
body .section-one .row p {
  font-weight: 500;
  font-size: 20px;
}
body .section-two {
  min-height: 60vh;
  color: white;
  border-bottom: 8px solid #bababa;
}
body .section-two .row {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
body .section-two .row h3 {
  font-weight: 600;
}
body .section-two .row p {
  font-weight: 500;
  font-size: 20px;
}
body .section-three {
  min-height: 60vh;
  color: white;
  border-bottom: 8px solid #bababa;
}
body .section-three .row {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
body .section-three .row h3 {
  font-weight: 600;
}
body .section-three .row p {
  font-weight: 500;
  font-size: 20px;
}
body .section-four {
  min-height: 60vh;
  color: white;
  border-bottom: 8px solid #bababa;
}
body .section-four .row {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
body .section-four .row h3 {
  font-weight: 600;
}
body .section-four .row p {
  font-weight: 500;
  font-size: 20px;
}
body .faq {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-bottom: 8px solid #bababa;
}
body .faq h3 {
  color: white;
  margin-bottom: 5vh;
  font-weight: 600;
}
body .faq .accordion-item {
  background-color: #303030;
  color: white;
  font-size: 24px;
  text-align: left;
  margin-bottom: 5px;
}
body .faq .accordion-button {
  background-color: #303030;
  color: white;
  font-size: 24px;
}
body .faq .e-mail .mail {
  padding: 15px 20px;
  margin: 0px 0px;
  border: none;
  width: 50%;
}
body .faq .e-mail .mail:active {
  border: none;
}
body .faq .e-mail .button {
  padding: 15px 20px;
  margin: 0px 0px;
  background-color: #E50914;
  color: white;
  border: none;
  margin-left: -10px;
}
body .faq .sec {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
body .faq .sec p {
  color: white;
  font-size: 24px;
}
body .footer {
  color: #929292;
  margin-top: 10vh;
  padding-bottom: 5vh;
}
body .footer ul li {
  list-style: none;
  cursor: pointer;
  line-height: 3;
}/*# sourceMappingURL=style.css.map */