@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap');

*{
    margin:0;
    padding:0;
}
/*#E509148*/
body{
    width:100%;
    height:100%;
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    .hero{
        min-height: 100vh;
        background-image: url("./img/netflix-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-bottom: 8px solid #bababa;

        .cover{
            background-color: rgba(0,0,0,0.6);
            min-height:100vh;

            .logo{
                width:150px;
            }
            .sign-in{
                background-color: #E50914;
                color:white;
                padding-left:20px;
                padding-right: 20px;
                padding-top:5px;
                padding-bottom:5px;
                border-radius: 10px;
                border:none;
            }
            .lan{
                color:white;
                margin-left:20px;
                margin-right:20px;
                border: 1px solid rgb(155, 130, 130);
            }
            .lan:hover{
                color:white;
               
            }
            .hero-content{
                min-height:90vh;
                text-align:center;
                color:white;  
                
                .heading{
                    font-weight: 600;

                    p{
                        font-size: 20px;
                    }
                }
                .e-mail{
                    
                   
                    .mail{
                        padding: 15px 20px;
                        margin:0px 0px;
                        border: none;
                        width:50%;
                    }
                    .mail:active{
                       
                        border: none;
                       
                    }
                    .button{
                        padding: 15px 20px;
                        margin: 0px 0px;
                        background-color: #E50914;
                        color:white;
                        border:none;
                        margin-left: -10px;
                    }
                }
                
            }

        }
    }
    .section-one{
        min-height:60vh;
        color:white;
        border-bottom: 8px solid #bababa;

        .row{
            margin-top: 10vh;
            margin-bottom:10vh;

            h3{
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .section-two{
        min-height:60vh;
        color:white;
        border-bottom: 8px solid #bababa;

        .row{
            margin-top: 10vh;
            margin-bottom:10vh;

            h3{
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .section-three{
        min-height:60vh;
        color:white;
        border-bottom: 8px solid #bababa;

        .row{
            margin-top: 10vh;
            margin-bottom:10vh;

            h3{
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .section-four{
        min-height:60vh;
        color:white;
        border-bottom: 8px solid #bababa;

        .row{
            margin-top: 10vh;
            margin-bottom:10vh;

            h3{
                font-weight: 600;
            }
            p{
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
    .faq{
        margin-top: 10vh;
        margin-bottom: 10vh;
        border-bottom: 8px solid #bababa;

        h3{
            color: white;
            margin-bottom: 5vh;
            font-weight: 600;
        }


        .accordion-item{
            background-color:#303030;
            color:white;
            font-size: 24px;
            text-align:left;
            margin-bottom: 5px;
        }
        .accordion-button{
            background-color:#303030;
            color:white;
            font-size:24px;
        }
        .e-mail{
                    
                   
            .mail{
                padding: 15px 20px;
                margin:0px 0px;
                border: none;
                width:50%;
            }
            .mail:active{
               
                border: none;
               
            }
            .button{
                padding: 15px 20px;
                margin: 0px 0px;
                background-color: #E50914;
                color:white;
                border:none;
                margin-left: -10px;
            }
        }
        .sec{
            margin-top: 10vh;
            margin-bottom: 10vh;

            p{
                color:white;
                font-size: 24px;
            }
        }
    }
    .footer{
        color:#929292;
        margin-top: 10vh;
        padding-bottom: 5vh;

        ul{
            li{
                list-style: none;
                cursor:pointer;
                line-height: 3;
            }
        }
    }
}