*{
    margin:0;
    padding:0;
}
/*#E509148*/
body{
    width:100%;
    height:100%;
    background-color: black;

    .hero{
        min-height: 100vh;
        background-image: url("./img/netflix-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .cover{
            background-color: rgba(0,0,0,0.4);
            min-height:100vh;

            .logo{
                width:150px;
            }
            .sign-in{
                background-color: #E50914;
                color:white;
                padding-left:15px;
                padding-right: 15px;
                border-radius: 10px;
            }
            .lan{
                color:white;
                margin-left:20px;
                margin-right:20px;
                border: 1px solid white;
            }
            .lan:hover{
                color:white;
               
            }
            .hero-content{
                min-height:90vh;
                text-align:center;
                color:white;  
                border:3px solid white;            
                
            }

        }
    }
}